<div class="row ">
  <div class="col-lg-3 col-sm-3 py-5 pl-5">
    <div class="text-center"><img src="https://i.pinimg.com/236x/db/28/c5/db28c58f0581d9112bdd8ca2040726b4.jpg" class="rounded-circle h-50 w-50"></div>
    <div class="text-danger text-center font-weight-bolder pt-4"><h4><b>My Profile!!</b></h4></div>
  </div>
<div class= "col-lg-9 col-sm-3 py-4 pr-4">
<form class="form-horizontal">
  <div class="form-group">
    <div class="control-label col-sm-2 text-danger font-weight-bolder">Name:</div>
    <div class="col-sm-10">
      <input type="text" class="form-control w-50"  value="{{myprofile.name}}"   [disabled]="disabled" [(ngModel)]="myprofile.name" [ngModelOptions]="{standalone: true}">
    </div>
  </div>
  <div class="form-group">
    <div class="control-label col-sm-2 text-danger font-weight-bolder" for="email">Email:</div>
    <div class="col-sm-10">
      <input type="email" class="form-control w-50" id="email" value="{{myprofile.email}}" [(ngModel)]="myprofile.email" [ngModelOptions]="{standalone: true}" disabled>
    </div>
  </div>
  <div class="form-group">
    <div class="control-label col-sm-2 text-danger font-weight-bolder" for="contact">Contact:</div>
    <div class="col-sm-10">
      <input type="text" class="form-control w-50" id="contact" value="{{myprofile.contact}}" [disabled]="disabled" [(ngModel)]="myprofile.contact" [ngModelOptions]="{standalone: true}">
    </div>
  </div>
  <div class="form-group">
    <div class="control-label col-sm-2 text-danger font-weight-bolder" for="address">Address:</div>
    <div class="col-sm-10">
      <input type="text" class="form-control w-50" id="address" value="{{myprofile.address}}" [disabled]="disabled" [(ngModel)]="myprofile.address" [ngModelOptions]="{standalone: true}">
    </div>
  </div>
  <div class="form-group">
    <div class="control-label col-sm-2 text-danger font-weight-bolder" for="dob">Date of Birth:</div>
    <div class="col-sm-10">
      <input type="text" class="form-control w-50" id="dob" value="{{myprofile.dob}}" [disabled]="disabled" [(ngModel)]="myprofile.dob" [ngModelOptions]="{standalone: true}">
    </div>
  </div>
  <div class="form-group pl-5">
    <div class="form-check pl-5 ml-lg-3">
      <button type="" class="btn btn-default bg-danger text-light mr-4" (click)="toggle()">Edit</button>
      <button type="" class="btn btn-default bg-danger text-light" (click)="edit()">Save</button>
    </div>
  </div>
</form>
</div>
</div>
<section *ngIf="u === 1">
  <div class="container py-3" *ngFor="let a of blogs">
    <div class="card py-5" *ngIf="a.users.id === myprofile.id">
      <div class="row" >
        <div class="col-md-4">
          <img src="{{a.image}}" class="w-100">
        </div>
        <div class="col-md-8 px-3">
          <div class="card-block px-3">
            <div class="pb-4"> <input type="text" value="a.about" [(ngModel)]="a.about" [disabled]="disabled1" class="w-50"></div>
            <div><input type="text" value="a.content" [(ngModel)]="a.content" [disabled]="disabled1" class="w-100"></div>
            <div class="d-flex justify-content-start"><div class=""><a class="btn btn-primary" (click)="delBlog(a.id)">Delete</a></div><div class="pl-1"><a class="btn btn-primary" (click)="clickBlog()">Edit</a></div>
              <div class="pl-1"><a class="btn btn-primary" (click)="editBlog()">Save</a></div>
              <div class="pl-1"><a class="btn btn-primary" (click)="e()">private</a></div>
              <div class="pl-1"><a class="btn btn-primary" (click)="f()">public</a></div>
            </div>
          </div>
        </div>
        </div>

    </div>
  </div>
</section>

